.c-balloon {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: #99ccff;
  padding: 5px 10px;
}

.c-balloon:before {
  position: absolute;
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid #99ccff;
  border-right: 15px solid #99ccff;
  top: 25px;
}