.c-image_penguin1 {
  background-image: url("/images/penguin_1.svg");
  background-size: cover;
  width: 150px;
  height: 150px;
}

.c-image_penguin2 {
  background-image: url("/images/penguin_2.svg");
  background-size: cover;
  width: 150px;
  height: 150px;
}

.c-image_penguin3 {
  background-image: url("/images/penguin_3.svg");
  background-size: cover;
  width: 200px;
  height: 200px;
}

.c-image_penguin7 {
  background-image: url("/images/penguin_7.svg");
  background-size: cover;
  width: 150px;
  height: 150px;
}