.tasks {
  &_form {
    margin-bottom: 20px;
  }
  &_textBox {
    border:solid 1px #ccc;
    border-radius: 20px;
    outline: none;
  }
  &_textBox:focus {
    border: solid 1px #0099ff;
  }
  &_btn {
    background-color: #ccc;
    border-radius: 20px;
    border: none;
  }
  &_btn:hover {
    background-color: #aaa;
  }
  &_btn:focus {
    outline: none;
  }
  &_lists {
    list-style: none;
    padding: 0;
  }
  &_list {
    margin-bottom: 20px;
  }
}