.u-space_between {
  justify-content: space-between;
}

.u-flex_center {
  justify-content: center;
}

.u-space_around {
  justify-content: space-around;
}

.u-flex-start {
  justify-content: flex-start;
}
