.u-space_between {
  justify-content: space-between;
}

.u-space_between {
  justify-content: center;
}

.u-space_between {
  justify-content: space-around;
}

.u-space_between {
  justify-content: flex-start;
}

.u-space_between {
  justify-content: flex-start;
}