// padding
.u-p0 {
  padding: 0;
}
.u-p1 {
  padding: 10px;
}
.u-p2 {
  padding: 20px;
}
.u-p3 {
  padding: 30px;
}
.u-p4 {
  padding: 40px;
}
.u-p5 {
  padding: 50px;
}

// padding-top
.u-pt0 {
  padding-top: 0;
}
.u-pt1 {
  padding-top: 10px;
}
.u-pt2 {
  padding-top: 20px;
}
.u-pt3 {
  padding-top: 30px;
}
.u-pt4 {
  padding-top: 40px;
}
.u-pt5 {
  padding-top: 50px;
}

// padding-right
.u-pr0 {
  padding-right: 0;
}
.u-pr1 {
  padding-right: 10px;
}
.u-pr2 {
  padding-right: 20px;
}
.u-pr3 {
  padding-right: 30px;
}
.u-pr4 {
  padding-right: 40px;
}
.u-pr5 {
  padding-right: 50px;
}

// padding-bottom
.u-pb0 {
  padding-bottom: 0;
}
.u-pb1 {
  padding-bottom: 10px;
}
.u-pb2 {
  padding-bottom: 20px;
}
.u-pb3 {
  padding-bottom: 30px;
}
.u-pb4 {
  padding-bottom: 40px;
}
.u-pb5 {
  padding-bottom: 50px;
}

// padding-left
.u-pl0 {
  padding-left: 0;
}
.u-pl1 {
  padding-left: 10px;
}
.u-pl2 {
  padding-left: 20px;
}
.u-pl3 {
  padding-left: 30px;
}
.u-pl4 {
  padding-left: 40px;
}
.u-pl5 {
  padding-left: 50px;
}

.u-px0 {
  padding-right: 0;
  padding-left: 0;
}

.u-px1 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-px2 {
  padding-right: 20px;
  padding-left: 20px;
}

.u-px3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-px4 {
  padding-right: 40px;
  padding-left: 40px;
}

.u-px5 {
  padding-right: 50px;
  padding-left: 50px;
}

.u-py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-py1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-py2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-py3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-py4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.u-py5 {
  padding-top: 50px;
  padding-bottom: 50px;
}